
/* GENERAL STYLES */

body {
  background-color:#ECF0F1;
}


/* ANECDOTAS CARDS TEXT */
.overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.overflow-oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.anec {
  color: #2C3E50;
  
  text-decoration:none;
  transition: all .2s;
}
.anec:hover{
  border-color: blueviolet;
  text-decoration:none;
}


/* Text-select color */

::-moz-selection { /* Code for Firefox */
  color: #FFF;
  background: #2C3E50;
}

::selection {
  color: #FFF;
  background: #2C3E50;
}

.withstyle {
  width: 100%;
  background-color: #373A3C;
  padding:20px;
}

/* Principal container (footer position) */

.principal {
  min-height: 87vh;
}

/* User search box styles */

.proper {
  border-left:none;
}

/* Reactionsbar colors */
.text-white {
  color:snow;
}
.text-pink {
  color:rgb(255, 170, 199);
}

.text-red {
  color:rgb(255, 68, 68);
}

.text-yellow {
  color:rgb(255, 255, 115);
}

.text-sky {
  color:rgb(91, 207, 207);
}