<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Públicadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Otro función</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">No he hecho nada aquí</h5>
        <p class="card-text">En teoría aquí deberia de mostrar las anécdotas del usuario</p>
        <a href="#" class="btn btn-primary">Boton para algo</a>
    </div>
</div>