<ul class="nav withstyle justify-content-center">
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">&copy; Anecdotario 2020 | EmbeddedFrog Services</a>
    </li>
</ul>