<!-- SINGIN -->
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card p-2">
            <div class="card-body">
                <h2>Iniciar sesión</h2>
                <img src="/img/anc.png" class="w-50 d-block m-auto" alt="cat">
                <hr>
                <form action="/usuario/acceder" spellcheck="false" method="POST">
                    <div class="form-group">
                        <label for="username">Correo eléctronico</label>
                        <input type="text" class="form-control" name="name" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>